@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
    color: rgb(149, 58, 235);
    background-color: aqua;
}
  header {
    text-align: center;
    margin-bottom: 30px;
    font-size: xx-large;
  }
  
  #heading {
    font-size: 2rem;
    color: #222;
  }
  
  /* Search Section */
  #search {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #search input {
    padding: 10px;
    width: 60%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Book List */
  #book-list {
    margin-bottom: 30px;
    
    
  }

  .book-list-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  #book-list h2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #books-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    
    
  }
  
  #books-container img {
    padding: 10px;
    background-color: bisque;
    margin-bottom: 5px;
    border-radius: 3opx;
    width: 80px;
    cursor: pointer;
  }
  
  #books-container img:hover {
    background-color: white;
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Book Details */
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .book-details img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* Form Section */
  .form {
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  .form h2 {
    margin-bottom: 15px;
  }
  
  #bookForm input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }


  #bookForm button {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  #bookForm button {
    background-color: green;
    border: none;
    cursor: pointer;
  }
  
  #bookForm button:hover {
    background-color: greenyellow;
  }
  
  /* Responsive Layout */
  @media (min-width: 768px) {
    .book-details,
    .form {
      width: 60%;
      margin: 0 auto 30px auto;
    }
  
    #search input {
      width: 50%;
    }
  }