@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: large;
    color: rgb(93, 11, 170);
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://img.freepik.com/free-photo/still-life-books-versus-technology_23-2150062975.jpg?semt=ais_hybrid)
}
  header {
    text-align: center;
    margin-bottom: 30px;
    font-size: xx-large;
  }
  
  #heading {
    font-size: 2rem;
    color: rgb(36, 48, 209);
  }
  
  #search {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #search input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid white;
    border-radius: 5px;
  }
  

  #book-list {
    margin-bottom: 30px;    
  }

  .book-list-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;   
  }
  
  #book-list h2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #books-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 50%;   
  }
  
  #books-container img {
    padding: 10px;
    background-color: bisque;
    margin-bottom: 5px;
    border-radius: 3opx;
    width: 80px;
    cursor: pointer;
  }
  
  #books-container img:hover {
    background-color: white;
    width: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 95, 150);
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
  }
  
  .book-details img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;

  }
  
  .form {
    background-color: blue;
    padding: 20px;
    border-radius: 5px;  
    width: 70%; 
    margin: 0 auto;
  }
  
  .form h2 {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  #bookForm input{
    display: flex;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  #bookForm button {
    display: flex;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  #bookForm button {
    background-color: green;
    border: none;
    cursor: pointer;
  }
  
  #bookForm button:hover {
    background-color: greenyellow;
  }

  @media (min-width: 768px) {
    .book-details,
    .form {
      width: 60%;
      margin: 0 auto 30px auto;
    }
  
    #search input {
      width: 50%;
    }
  }

  